/* OpenData.id - Landing Page Styles */
@import url('./css/base.css');
@import url('./css/layout.css');
@import url('./css/components.css');
@import url('./css/ticker.css');
@import url('./css/home.css');
@import url('./css/pages.css');
